.header{
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
    justify-content: center;
    border: 5px solid red;
}
.row{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.square{
    background-color: white;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.grid-size-button{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}